<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Document</title>
  </head>
  <body>
    {% if dev_evn %} Section for development {% else %} Section for production
    {% endif %}
  </body>
</html>
